* {
    background-color: #f0f1f2;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#footer {
    display: flex;
    justify-content: space-between;
    line-height: -30px;
}

h4 {
    font-size: 14px;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-left: 10px;

}

p {
    font-size: 15px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    word-spacing: 1px;
}

input,
button {
    padding: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button {
    background-color: black;
    color: white;
    margin-left: -8px;
    cursor: pointer;

}

input {
    width: 250px;
}

#footer>div:nth-child(1)>p {
    cursor: pointer;
    margin-left: 10px;

}

#footer>div:nth-child(2)>p {
    cursor: pointer;
    margin-left: 10px;

}

#footer>div:nth-child(3)>p {
    cursor: pointer;
    margin-left: 10px;

}

#first,
#second,
#third,
#four {
    margin-top: 20px;
}

#facebook,
#souvik {
    margin-left: 10px;

}

#india {
    margin-left: -6px;
}

i {
    padding: 20px 20px 20px 0px;
    font-weight: bold;

}

#india>a {
    color: black;
    margin-left: 20px;
}

#souvik>p {
    color: gray;
}

#first {
    margin-left: 10px;
}

#second {
    margin-left: 10px;
}

#third {
    width: 230px;
    margin: 0px 60px 0px 10px;
}