  .hover-animation:hover{
    text-decoration: underline;
    font-weight: bold;
  }
/*-----------------------------------------*/

#navbar {
    height: 65px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar>div:nth-child(1)>h1 {
    font-size: 32px;
    font-weight: 400;
}

#navbar>div:nth-child(2) {
    width: 50%;
    /* margin-right: 30%; */
}

#navbar>div:nth-child(3) {
    /* width: 40%; */
    display: flex;
    gap: 20px;

}


#navbar>div>button {
    background-color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

#query{
    padding: 8px;
    border: 1px solid rgb(187, 187, 187);
}


#navbar>div:last-child>img{
    /* border: 1px solid red; */
    padding: 5px;
    width: 35px;
    height: 35px;
}

#sale {
    color: red;
}


/* *************HOver Effect********** */

#cashmere_hover {
    background-color: white;
    display: none;
    position: absolute;
    top: 65px;
    right: 600px;
    height: 200px;
    width: 250px;
    text-align: left;
    padding: 20px;
    line-height: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#cashmere_hover>a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

#cashmere_hover>a:hover {
    text-decoration: underline;
}

#cashmere:hover #cashmere_hover {
    display: inline-block;
}


/* ////sale option */
#sale_hover {
    background-color: white;
    display: none;
    position: absolute;
    padding-left: 150px;
    top: 65px;
    left: 0px;
    width: 100%;
    height: 55vh;
    /* background-color: lightgreen; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#sale_hover>div {
    text-align: left;
    padding: 20px;
}

#sale_hover>div:nth-child(1)>a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

#sale_hover>div a:hover {
    text-decoration: underline;
}

#sale_hover>div:nth-child(2) {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

#sale_hover>div:nth-child(2)>div a:hover {
    text-decoration: underline;
}

#sale_hover>div>div:nth-child(1)>a {
    /* border: 1px solid blue; */
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;


}

#sale_hover>div>div:nth-child(2)>a {
    /* border: 1px solid blue; */
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;

}

#sale_hover>div>div:nth-child(3)>a {
    /* border: 1px solid blue; */
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;

}

#sale_hover>div>div:nth-child(4)>a {
    /* border: 1px solid blue; */
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;

}

h3 {
    color: black;
}


#sale:hover #sale_hover {
    display: flex;
}


/* ///Home...... */

#home_hover {
    background-color: white;
    display: none;
    position: absolute;
    padding-left: 100px;
    top: 65px;
    left: 0px;
    width: 100%;
    height: 320px;
    /* background-color: lightgreen; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#home_hover>div{
    display: flex;
}

#home:hover #home_hover {
    display: flex;
}

#home_hover>div>div:nth-child(1) {
    /* border: 1px solid red; */
    width: 200px;
    height: 150px;
    /* margin-bottom: 15px; */

}

.div_box{
    text-align: left;
    padding: 20px;
    line-height: 15px;
}

.div_box>a{
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: lighter;
}

.div_box>a:hover{
    text-decoration: underline;
}

#home_hover>div>div:nth-child(1)>a{
    font-weight: bold;
}

.image_div{
    margin-top: 20px;
    /* border: 1px solid red; */
    display: flex;
    width: 400px;
    height: 220px;
    margin-left: 200px;
    gap: 25px;
    text-align: left;
}


.image_div>div>img{
    width: 100%;
    height: 250px;
}
.image_div>div>p{
    font-size: 14px;
    font-weight: lighter;
    color: gray;
    margin-top: 0px;
    padding-left: 3px;
}

#new:hover #new_hover{
    display: flex;
}

#new_hover{
    background-color: white;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
}

#new_hover>div:first-child>div:first-child{
    /* border: 1px solid red; */
    width: 200px;
}

#new_hover>div:first-child>div:nth-child(2){
    /* border: 1px solid green; */
    width: 380px;
}

#new_hover>div:first-child{
    display: flex;
    padding-left: 20px;
}

#new_hover>div:first-child>div:nth-child(1)>a{
    font-weight: bold;
}

#new_hover>div:first-child>div:nth-child(2){
    display: flex;
}

/* ---------------------------Women page------------------------ */

#women_hover{
    background-color: white;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
    padding-left: 200px;
}



#women:hover #women_hover{
    display: flex;
    /* border: 1px solid red; */
}

#women_hover>div:first-child{
    display: flex;
}


#women_hover>div:nth-child(2)>div:first-child{
    display: flex;
    /* border: 1px solid green; */
    gap: 20px;
    width: 400px;
    height: 300px;
}

#women_hover>div:nth-child(2)>div:first-child>div{
    width: 48%;
    height: 300px;
    /* border: 1px solid blue ; */
}

#women_hover>div:nth-child(2)>div:first-child>div>img{
    width: 100%;
}

#women_hover>div:nth-child(2)>div:first-child>div>p{
    font-size: 14;
    text-align: left;
    color: gray;
    font-weight: lighter;
    margin: 1px 0px 0px 5px;
}

#women_hover>div:nth-child(2)>div:nth-child(2){
    display: flex;
    width: 400px;
    height: 35%;
    justify-content: space-evenly;
}

#women_hover>div:nth-child(2)>div:nth-child(2)>div{
    width: 30%;
    height: 70%;
}

#women_hover>div:nth-child(2)>div:nth-child(2)>div>img{
    width: 100%;
    height: 95%;
}

#women_hover>div:nth-child(2)>div:nth-child(2)>div>p{
    font-size: 14;
    text-align: left;
    color: gray;
    font-weight: lighter;
    margin: 1px 0px 0px 5px;
}


 /* --------------------mens page-------------------- */

 #men_hover{
    background-color: white;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
    padding-left: 200px;
}



#men:hover #men_hover{
    display: flex;
    /* border: 1px solid red; */
}

#men_hover>div:first-child{
    display: flex;
}


#men_hover>div:nth-child(2)>div:first-child{
    display: flex;
    /* border: 1px solid green; */
    gap: 20px;
    width: 400px;
    height: 300px;
}

#men_hover>div:nth-child(2)>div:first-child>div{
    width: 48%;
    height: 300px;
    /* border: 1px solid blue ; */
}

#men_hover>div:nth-child(2)>div:first-child>div>img{
    width: 100%;
}

#men_hover>div:nth-child(2)>div:first-child>div>p{
    font-size: 14;
    text-align: left;
    color: gray;
    font-weight: lighter;
    margin: 1px 0px 0px 5px;
}

#men_hover>div:nth-child(2)>div:nth-child(2){
    display: flex;
    width: 400px;
    height: 35%;
    justify-content: space-evenly;
}

#men_hover>div:nth-child(2)>div:nth-child(2)>div{
    width: 30%;
    height: 70%;
}

#men_hover>div:nth-child(2)>div:nth-child(2)>div>img{
    width: 100%;
    height: 95%;
}

#men_hover>div:nth-child(2)>div:nth-child(2)>div>p{
    font-size: 14;
    text-align: left;
    color: gray;
    font-weight: lighter;
    margin: 1px 0px 0px 5px;
}

/* ----------------------------kids page----------------------- */


#kids_hover{
    background-color: white;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
    padding-left: 200px;
}



#kids:hover #kids_hover{
    display: flex;
    /* border: 1px solid red; */
}

#kids_hover>div:first-child{
    display: flex;
}


#kids_hover>div:nth-child(2)>div:first-child{
    display: flex;
    /* border: 1px solid green; */
    gap: 20px;
    width: 400px;
    height: 300px;
}

#kids_hover>div:nth-child(2)>div:first-child>div{
    width: 48%;
    height: 300px;
    /* border: 1px solid blue ; */
}

#kids_hover>div:nth-child(2)>div:first-child>div>img{
    width: 100%;
}

#kids_hover>div:nth-child(2)>div:first-child>div>p{
    font-size: 14;
    text-align: left;
    color: gray;
    font-weight: lighter;
    margin: 1px 0px 0px 5px;
}

#kids_hover>div:nth-child(2)>div:nth-child(2){
    display: flex;
    width: 400px;
    height: 35%;
    justify-content: space-evenly;
}

#kids_hover>div:nth-child(2)>div:nth-child(2)>div{
    width: 30%;
    height: 70%;
}

#kids_hover>div:nth-child(2)>div:nth-child(2)>div>img{
    width: 100%;
    height: 95%;
}

#kids_hover>div:nth-child(2)>div:nth-child(2)>div>p{
    font-size: 14;
    text-align: left;
    color: gray;
    font-weight: lighter;
    margin: 1px 0px 0px 5px;
}

/* ------------------------------swim page---------------------------- */


#swim_hover{
    background-color: white;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
    padding-left: 200px;
}



#swim:hover #swim_hover{
    display: flex;
    /* border: 1px solid red; */
}

#swim_hover>div:first-child{
    display: flex;
}

#swim_hover>div{
    margin-top: 40px;
}

#swim_hover>div:nth-child(2)>div:first-child{
    display: flex;
    /* border: 1px solid green; */
    gap: 20px;
    width: 400px;
    height: 300px;
}

#swim_hover>div:nth-child(2)>div:first-child>div{
    width: 48%;
    height: 300px;
    /* border: 1px solid blue ; */
}

#swim_hover>div:nth-child(2)>div:first-child>div>img{
    width: 100%;
}

#swim_hover>div:nth-child(2)>div:first-child>div>p{
    font-size: 14;
    text-align: left;
    color: gray;
    font-weight: lighter;
    margin: 1px 0px 0px 5px;
}